.sidebar_item {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 20px;
    color: #939393;
    transition: color 0.3s;
}

.sidebar_item svg {
    width: 50px;
    height: 44px;
}

.sidebar_item .texto_link {
    margin: 10px;
    font-size: 20px;
    white-space: nowrap;
}

.sidebar_item:hover {
    transform: scale(1.1);
    color: #12af2c;
    transition: transform 0.3s ease;
}

.sidebar_item.ativo {
    color: #12af2c !important;
}

@media (max-width: 768px) {
    .sidebar_item {
        margin: 15px;
    }

    .sidebar_item svg {
        width: 40px;
        height: 35px;
    }

    .sidebar_item .texto_link {
        margin: 5px;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .sidebar_item {
        margin: 10px;
        flex-direction: column;
        align-items: center;
    }

    .sidebar_item svg {
        width: 35px;
        height: 30px;
    }

    .sidebar_item .texto_link {
        margin: 3px;
        font-size: 16px;
        text-align: center;
    }
}